#content
  %article
    %h1= "Welcome to the home of #{@conference.name} conference!"
    
%aside
  %section
    %h1 Latest news
    %ul
      %li New sponsorship announced!
      %li Best speaker line-up ever!
