/* ------------------------------------------------------------------ =colors */
$navFont: Tahoma, Geneva, sans-serif;
$bodyFont: Arial, Helvetica, Verdana, sans-serif;
$pageTitleFont: $bodyFont;
$sidebarFont: $pageTitleFont;

/* -------------------------------------------------------------------- =body */

body {
	background-repeat: repeat-x;
	background-color: #AFDEE4;
}
