// Place all the styles related to the Speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#speakers {

	.row {
		padding: 0 20px;
	}
	
	.speaker {
		background:#eeeeee;
		padding:5px;
		margin-bottom:10px;
		img {
			float:left;
			width:100px;
		}
	}
}
