// Place all the styles related to the Speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.speakers {
	background-color:#EEEEEE;

	#speakers {

		.row {
			padding: 0 20px;
		}

		.speakers {
		
			margin: 10px;
			border:1px solid white;
			
			.speaker {
				
				.detail {
					img {
						float:left;
						width:100px;
					}
				}
			}
		}
	}

}

